<h3>{{user.firstName}}, here are your events:</h3>
<br />
<h4>Events you created:</h4>

{{#each adminEvents}}
  <div class="event-box">
    <br />
    <h4>{{this.title}}</h4>
    <p>from: {{this.admin.0.firstName}}</p>

    <p> {{this.description}}</p>
    <br />
    <a href="/users/{{this.id}}/edit"><button
        class="btn btn-primary inline"
        type="submit"
      >Edit</button></a>

    <a href="/users/{{this.id}}/delete"><button
        class="btn btn-primary inline"
        type="submit"
      >Delete</button></a>

    <a href="/users/{{this.id}}/details"><button
        class="btn btn-primary inline"
      >Details</button></a>
    <br />

  </div>

{{/each}}
{{#if notHosting}}
  <div class="event-box">
    <p>{{notHosting}}</p>
  </div>
{{/if}}

<h4>Events you attend:</h4>

{{#each guestEvents}}
  <div class="event-box">
    <br />
    <h3>{{this.title}}</h3>
    <br />

    <a href="/users/{{this.id}}/details"><button
        class="btn btn-primary inline"
        type="submit"
      >Details</button></a>
    <a href="/users/{{this.id}}/leave"><button
        class="btn btn-primary inline"
        type="submit"
      >Leave Event</button></a>

  </div>
{{/each}}
{{#if notAttending}}
  <div class="event-box">
    <p>{{notAttending}}</p>
  </div>
{{/if}}

<br /><br />
<a href="/users/{{user.id}}" class="btn btn-primary">Go back!</a>