<h1>Dear {{user.firstName}}, here are your events:</h1>
<br />
<h4>To edit your events, click edit below the event</h4>

{{#each events}}
  admin:
  {{this.admin.0.firstName}}
  <br />
  title:
  {{this.title}}
  <br />
  {{this.description}}
  <br />
  <a href="/users/{{this.id}}/edit"><button
      class="btn btn-primary"
      type="submit"
    >Edit this event</button></a>
  <br />
  <a href="/users/{{this.id}}/delete"><button
      class="btn btn-primary"
      type="submit"
    >Delete this event</button></a>
  <br />
{{/each}}

<a href="/users/{{user.id}}" class="btn btn-primary">Go back!</a>