{{#each events}}
  <div class="event-box">
    <br />
    <h4>{{this.title}}</h4>
    <p>from: {{this.admin.0.firstName}}</p>

    <p> {{this.description}}</p>
    <br />
    <a href="/users/{{this.id}}/details"><button
        class="btn btn-primary inline"
      >Details</button></a>
    <a href="/users/{{this.id}}/edit"><button
        class="btn btn-primary inline"
        type="submit"
      >Join!</button></a>

    <br />

  </div>
{{/each}}

<a href="/users/{{user}}/" class="btn btn-primary">Go back!</a>